Flask
flask_cors
https://github.com/ale10bb/zmail/archive/refs/tags/v0.2.8.2.tar.gz
walkdir
python-docx
mysql-connector-python
DingtalkChatbot
requests
chinesecalendar

# -- webserver --
# gunicorn[gevent]

# -- win32 --
# pywin32
# waitress