#  配置文件必须位于$ROOT\conf\RM.conf
#  以下配置参数除“含默认”和“可缺省”项以外，其他均为必填项

[mode]
# ===================================== 调试模式 =====================================
#
#  当启用调试模式时，所有邮件通知和钉钉通知将被禁用，通知内容被重定向到stdout。
#
#  默认：false
#
# ====================================================================================
debug           =   true

[path]
# ================================== 数据文件夹路径 ==================================
#
#  RM会使用以下路径，注意避免文件名冲突：
#    temp(dir)：临时存放工作目录和提交审核记录（保存7天）
#    archive(dir)：存档完成审核记录
#
#  注：数据文件夹必须存在，RM会自动管理其中的文件结构。
#      自检过程包含storage存在性检查，文件夹不存在时无法启动。
#
# ====================================================================================
# storage         =   C:\path\to\storage
storage         = /ReportManager/storage

[log]
# ===================================== 日志输出 =====================================
#
#  设置日志输出的级别和文件名（日志存放在storage下）
#
#  默认：level=info / dest=RM.log
#
# ====================================================================================
level           =   info
dest            =   RM.log

[mysql]
# ==================================== 数据库连接 ====================================
#
#  RM使用MySQL作为数据库，请确保用户有对应数据库的增删改查权限。
#
#  注：自检过程包含数据库连接尝试，连接失败时无法启动。
#
# ====================================================================================
host            =   127.0.0.1
db              =   rm
user            =   rm
pass            =   rm

[redis]
# =================================== 消息队列连接 ===================================
#
#  RM使用Redis作为消息队列，请确保用户有对应数据库的增删改查权限。
#
#  注：自检过程包含数据库连接尝试，连接失败时无法启动。
#
# ====================================================================================
host            =   127.0.0.1
pass            =   rm

[archive]
# ==================================== 压缩包管理 ====================================
#
#  RM部署在Windows时，使用WinRAR作为压缩包管理工具，Linux时则使用rar/unrar/unar
#  接收邮件时，RM尝试使用pass解压附件中的压缩包。
#  发送邮件时，RM保证附件已经过pass加密压缩，压缩格式为rar。
#
#  注：自检过程包含可执行文件的检查，文件不存在时无法启动。
#
# ====================================================================================
# 填写WinRAR可执行文件的路径（仅Windows有效）
winrar_bin      =   C:\Program Files\WinRAR\WinRAR.exe
# 填写rar/unrar/unar可执行文件的路径（仅Linux有效）
rar_bin         =   rar
unrar_bin       =   unrar
unar_bin        =   unar
# 压缩包加密和解密时所需的密码
pass            =   rm

[dingtalk]
enable          =   true
# ===================================== 钉钉通知 =====================================
#
#  RM可使用钉钉作为消息通知方式。目前设置了主通知和调试通知两种发送途径，其中：
#      主通知群接收：分配审核信息、完成审核信息、打卡信息。
#      调试通知群接收：告警信息、报错信息。
#
#  注：需要在群中添加自定义机器人，获取webhook地址和secret后填入此处
#      缺省将禁用对应发送途径
#
# ====================================================================================
webhook         =   https://oapi.dingtalk.com/robot/send?access_token=XXX
secret          =   SECXXX
webhook_debug   =   https://oapi.dingtalk.com/robot/send?access_token=XXX
secret_debug    =   SECXXX

# ===================================== 快速打卡 =====================================
#
#  RM在工作日上班和下班时，向主通知群发送打卡提示，内容包含：
#      当前审核任务列表
#      审核分配队列
#      打卡跳转按钮（在此处设置企业打卡页面的链接）
#      机器人交互按钮（在此处设置API的链接）
#
#  注：缺省将禁用对应按钮
#
# ====================================================================================
attend          =   https://attend.dingtalk.com/attend/index.html?corpId=dingXXX
interaction     =   https://example.com/

[wxwork]
enable          =   true
# ===================================== 微信通知 =====================================
#
#  RM可使用企业微信应用作为消息通知方式。
#    可对任务相关用户进行点对点通知。
#    可指定一个管理员用户接收告警信息、报错信息。
#
#  注：需要在企业微信管理后台中添加自定义应用，获取corpid、agentid和secret后填入此处
#      同时需要为相关用户授予应用的访问权限
#
# ====================================================================================
corpid          =   xxx
agentid         =   xxx
secret          =   xxx
admin_userid    =   xxx

[mail] 
#  默认仅允许和指定域名的用户进行邮件交互，域名需在此填写
domain          =   example.com

#  管理员的用户ID，发送审核完成邮件时将抄送管理员
#  注：缺省将禁用自动抄送功能
manager         =   manager

[smtp]
#  SMTP服务器的登录信息
#  注：自检过程包含连接测试，登录失败时无法启动。
host            =   example.com
user            =   rm
pass            =   rm
port            =   465
ssl             =   true
tls             =   false

[pop3]
#  POP3服务器的登录信息
#  注：自检过程包含连接测试，登录失败时无法启动。
host            =   example.com
user            =   rm
pass            =   rm
port            =   995
ssl             =   true
tls             =   false